autopep8         
click            
colorama         
Flask            
Flask-Login      
Flask-MySQLdb    
Flask-SQLAlchemy 
greenlet         
itsdangerous     
Jinja2           
MarkupSafe       
mysqlclient      
pip              
pycodestyle      
pymssql          
pyodbc           
setuptools       
SQLAlchemy       
toml             
Werkzeug         