{% extends "base.html" %} {% block title %}Search{% endblock %} {% block
    content %}

    <form method="POST">
        <h3 align="center">Search</h3>
        <div class="form-group">
          <label for="Name">Search by Name</label>
          <input
            type="search"
            class="form-control"
            id="name_search"
            name="name_search"
            placeholder="Search name"
          />
        </div>
        
        <center><button type="submit" class="btn btn-primary">Search</button></center>
        <br />
        {% if rows %}
          <table class="table">
            <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Department</th>
            </tr>
          </thead>
        {% for employee in rows: %}
          <tbody>
        <tr>
          <td>{{ employee.id }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.phone_number }}</td>
          <td>{{ employee.department }}</td>
        </tr>
        </tbody>
        {% endfor %}
        </table>
        {% endif %}


    {% endblock%}